body {
  background-color: rgb(186, 185, 185);
  height: 1000px;
  font-family: "Oswald", "Times New Roman", Times, serif;
}
ul {
  padding: 0;
  margin: 0;
}
header {
  position: relative;

  border-bottom: solid 2px white;
  border-radius: 10px;
}
.header-container {
  top: 5px;
  left: 5px;
  padding: 20px;
  height: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}
h1 {
  width: 80%;
  height: 40%;
  text-align: center;
  align-self: stretch;
}
.picture {
  height: 200px;
  align-self: flex-end;
  border-radius: 20px;
}
.menudiv {
  position: absolute;
  background-color: rgb(90, 119, 155);
  bottom: 0px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
}

a {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

/* //

NAV STUFF

// */

nav a {
  display: block;
}

.burger {
  position: absolute;
  height: 50px;
  width: 50px;
}
.burger img {
  height: 50px;
  width: 50px;
}

.burger:hover + ul,
.burger:focus-within + ul {
  transform: translateX(0);
  /* background-color: aqua; */
}

/* Top level, whole row */
nav ul {
  position: relative;
  width: 100%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  top: 0;
  border-top: solid 2px white;
  border-radius: 10px;
  transform: translateX(-120%);
  transition: all 0.4s ease-in-out;
}

/* Top level, individual options */
nav ul li {
  display: inline-block;
  padding: 0;
  line-height: 50px;
  margin-left: 20%;
  width: 25%;
  text-align: center;
}

/* Second level, whole row */
nav ul ul {
  opacity: 0%;
  width: 70%;
  color: white;
  background-color: rgb(90, 119, 155);
  position: absolute;
  top: 50px;
  left: 15%;
  border-radius: 10px;
  border-bottom: solid 2px white;
  transform: translateX(0);
}

/* Second level, individual options */
nav ul ul li {
  margin: auto;
  margin-right: 20px;
}

/* hover dropdown */
nav ul li:focus-within > ul,
nav ul li:hover > ul {
  opacity: 100%;
}

.arrange {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: dotted 2px white; */
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

@media (min-width: 600px) {
  .arrange {
    flex-direction: row;
  }
  .container {
    width: 50%;
  }
  nav ul {
    transform: translateX(0);
  }
  .burger {
    display: none;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 33%;
    text-align: left;
  }
  nav ul li {
    margin-left: 30%;
    width: 100px;
  }
}
